myenv/
venv_torch/
.env/
.env*/
tflite/
*.env
.envrc
*.wav
*.png
.ipynb_checkpoints/
*.ipynb_checkpoints

__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/
*.swp
*.swo

background/

.DS_Store
Thumbs.db

!src/**
!notebooks/**

audio_test.py
*.pth
*.onnx
export_onnx.py
onnx_audio_test.py